<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Task_Tracking_Timer_System.Properties.Settings.sistemaConnectionString"
            connectionString="Data Source=SV9465-8CQN382;Initial Catalog=sistema;Integrated Security=True;Context Connection=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>